
#contact {
  position: relative;
  top: -50px;
}

#contact-content {
  color: white;
  background: image-url("footer_lodyas.jpg") repeat left top;
  h2 {
    color: white;
    @media #{$medium-up} {
      font-size: 4.5em;
    }
    @media #{$small-only} {
      font-size: 2em;
    }
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #contact-description {
    span {
      font-weight: bolder;
    }
    line-height: 1.6;
  }

  #postal-address {
    line-height: 22px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 400;
    @media #{$small-only} {
      text-align: center;
    }
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: dimgrey;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: dimgrey;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: dimgrey;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: dimgrey;
  }
  input, textarea {
    min-height: 19px;
    color: #333333;
    font-family: raleway, sans-serif;
    font-weight: 400;
    padding: 11px 6px 6px;

  }
  #facebookSentence {
    background-color: transparent;
    line-height: 22px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: justify;
    font-family: raleway, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 3em;
    padding: 2em;
  }

  #socialContent {
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    position: relative;
  }

  #facebookBottom {
    width: 81px;
    height: 64px;
    border-color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: transparent image-url("social-icon-1-big.png") no-repeat left top;
  }

  #facebookBottom:hover {
    background: transparent image-url("social-icon-1-big-ro.png") no-repeat left top;
  }

  #footer {
    border-top: 2px solid white;
    margin-top: 250px;
    padding-bottom: 100px;
    padding-top: 100px;
    p {
      text-align: center;
      color: #FFFFFF;
      font-family: open-sans, sans-serif;
      font-weight: 300;
    }
  }

  #sendMail {
    z-index: 549;
    min-height: 44px;
    width: 303px;
    position: relative;
    margin-right: -10000px;
    margin-top: 189px;
    background-color: #000829;
    color: white;
  }
}
